/*-----------------------
COPYRIGHT 2020 Luke Young
-----------------------*/
*{margin:0;padding:0;}
body {background:#000;color:#333;font-family:Arial,Helvetica,sans-serif;font-size:16px;margin:0;padding:0;position:relative;z-index:-9999;}
h1,h2,h3 {float:left;font-size:1.2em;margin:0;padding:20px;position:relative;}
ul{margin:0;padding:0;}
p{margin:0 20px 0 0;padding:20px 20px 0 337px;position:relative;}
p:last-child{padding-bottom:40px;}
a:link,
a:visited{text-decoration:none;transition:.3s;}
a:hover{text-decoration:underline;}
img{height:100%;width:100%;}
input,textarea{border-width:1px;border-color:#e5e5e5;border-style:solid;border-radius:3px;font-size:14px;height:30px;margin:0 20px 0 337px;padding: 5px 10px;position:relative;}
textarea{width:50%;}
.contact button{background:rgba(117, 195, 255, 0.20);border-color:#3a72a1;border-radius:20px;border-style:solid;border-width:1px;color: #001733;cursor:pointer;font-size:16px;font-weight:600;height:40px;margin:10px 20px 10px 337px;padding:5px 10px;position:relative;text-align:center;width:10%;min-width:100px;}
.contact button:hover{background:rgba(117, 195, 255, 0.40);border-color: #001733;}
pre{padding:0 20px 20px 20px;}
code{font-size:.8em;line-height:1.3em;padding:10px 50px;border: 1px dashed #889b4a;border-radius: 5px;}
.hide{display:none;}

/* Header background reference */
header{box-shadow:1px 3px 5px #000;font-size:.8em;margin:0 auto;max-width:978px;position:relative;text-align:center;}

/* H1 styling */
h1.top-level {font-size:1.2em;line-height:1em;padding:0;top:29px;margin-right:20px;}
.start h1.top-level{color:#333;}
.sears h1.top-level{color:#005CCC;}
.calumet h1.top-level{color:#cc0000;}
.contact h1.top-level{color:#333;}
.home h1.top-level{color:#fff;}

/***** Mini Navigation *****/
.mini-navigation{margin:0 20px;}
.mini-navigation ul{list-style-type:none;position:relative;top:30px;}
.mini-navigation ul li{float:left;position:relative;text-align:center;}
.mini-navigation ul li a{color: #fff;float:right;margin:0 5px;}

/***** Main Navigation *****/
nav{border-top:1px solid #666;box-shadow:1px 3px 5px #000;margin:0 auto;max-width:1000px;position:relative;text-align:center;top:70px;}
nav ul{display:inline-block;list-style-type:none;position:relative;top:-5px;width:100%;}
nav ul li{color:#000;float:left;font-size:1em;margin:0 3%;position:relative;width:8%;}
nav ul li a:link,
nav ul li a:visited{color:#999;}
nav ul li a:hover{color:#fff;}

/***** Content *****/
main{color:#333;margin:10px auto 0 auto;max-width:978px;line-height:18pt;position:relative;z-index:-1;}
section{background: rgb(241,241,241);
background: linear-gradient(180deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);border-radius: 5px;box-shadow:1px 3px 5px #000;position:relative;top:-43px;}

/* Thanks and Error Pages */
.thanks,.error{background:#fff;margin:10% 2% 0 2%;}
.thanks p a:link,.error p a:link,
.thanks p a:visited,.error p a:visited{color: #4989bb;}
.thanks p a:hover,.error p a:hover{color: #73c2ff;}

section.no-image{margin-bottom:5%;padding-top:8%;position:static;}

/* Resume */
nav.start{display:none;}
#start h2{float:none;}
#start p{padding:10px 20px;}
#start a:link,
#start a:visited,
#start a:hover{color: #666;margin:20px;}
.start .mini-navigation ul li {color:#999;}
.start .mini-navigation ul li a{color:#666;}
table{width: 120%;}

/* Code */
nav.code{display:none;}
#code{background:#000;color:#d6baad;border-top:solid 1px #666;font-family:monospace;}
#code p a:link,
#code p a:visited{color: #889b4a;}
#code p a:hover{color: #fff;}
.code .mini-navigation ul li {color:#d6baad;}
.code .mini-navigation ul li a{color:#fff;}
#code h1,#code h2,#code h3{color:#889b4a;}
#code p{font-size:.8em;}
hr{border:0;border-bottom: 1px dashed #889b4a;margin:40px 20px;}

/* Sears */
nav.sears{display:none;}
nav.sears ul li{height:32px;}
nav.sears ul li a:link,
nav.sears ul li a:visited,
nav.sears ul li a:hover{display:none;}
#sears h2{color:#005CCC;}
#sears a{color:#005CCC;}
#sears{background:#fff;border-top:solid 1px #666;}
#sears div.clear{clear:both;}
#sears img{float:right;height:45%;margin-right:20px;width:45%;}
#sears h2,
#sears h3,
#sears p{float:none;margin:0;padding:5px 20px;width:45%;}
#sears > div:nth-child(2) > h3,
#sears > div:nth-child(2) > p{width:auto;}
#sears > div:nth-child(3) > h3{margin:0;}
#sears .sears-wide{float:none;margin:10px 20px 20px 20px;padding:0;width:96%;}
#sears > div:nth-child(2) > img{float:left;padding-left:20px;}
#sears > div:nth-child(3) > img{float:left;height:46%;margin:20px 0 20px 20px;width:46%;}
#sears > div:nth-child(4) > img{float:left;height:46%;margin:20px 20px 20px 0;width:46%;}
#sears .sears-appliances{float:none;height:100%;margin:0;width:100%;}

.sears .mini-navigation ul li{color:#005CCC;}
.sears .mini-navigation ul li a{color:#666;}
.developer-guide-link{margin-top: 20px;display: block;color: #666;}

/* Calumet */
nav.calumet{display:none;}
nav.calumet ul li{height:32px;}
nav.calumet ul li a:link,
nav.calumet ul li a:visited,
nav.calumet ul li a:hover{display:none;}
#calumet h2{color:#cc0000;}
#calumet a{color:#cc0000;}
#calumet{background:#fff;border-top:solid 1px #666;padding-bottom:25%;}
#calumet div.clear{clear:both;}
#calumet img{float:right;height:45%;margin-right:20px;width:45%;}
#calumet h2,
#calumet h3,
#calumet p{float:none;margin:0;padding:5px 20px;width:45%;}
#calumet > div:nth-child(2) > h3,
#calumet > div:nth-child(2) > p{width:auto;}
#calumet > div:nth-child(3) > h3{margin:0;}
#calumet > div:nth-child(3) > p{float:none;margin:10px 20px 20px 20px;padding:0;width:96%;}
#calumet > div:nth-child(2) > img{float:left;padding-left:20px;}
#calumet > div:nth-child(3) > img{float:left;height:46%;margin:20px 0 20px 20px;width:46%;}
#calumet > div:nth-child(4) > img{float:left;height:46%;margin:20px 20px 20px 0;width:46%;}

.calumet .mini-navigation ul li{color:#cc0000;}
.calumet .mini-navigation ul li a{color:#666;}



/* Contact */
nav.contact{display:none;}
#contact p{padding:10px 20px;}
#contact > h3:nth-child(2){padding-top:20px;}
#contact h3 {float:none;padding:0;margin: 0 0 0 337px;font-weight:200;font-size: 1em;}
#contact a:link,
#contact a:visited{color:#4989bb;}
#contact a:hover {color:#73c2ff;}
.contact .mini-navigation ul li {color:#999;}
.contact .mini-navigation ul li a{color:#666;}
.required{color:#999;font-size:.8em;padding-top:0;}
.resume-container{margin:0 auto;max-width: 800px;}
iframe{border:0;height:1400px;width:100%}

/* home - Illustration */
nav.home{background:rgba(157, 167, 255, 0.5);border-top:1px solid #73c2ff;}
nav.home ul li,
nav.home ul li a:link,
nav.home ul li a:visited{color:#73c2ff;}
nav.home ul li a:hover{color: #fff;}
#home{border-top:solid 1px #666;background:#333;}
#home hr{border-bottom:1px dashed #000;}
.home .mini-navigation ul li{color:#fff;}
.home .mini-navigation ul li a{color:#73c2ff;}
.illustration-container{margin: 20px auto 0 auto;max-width:800px;background:#333;padding-bottom:60px;}
.illustration-container h2,
.illustration-container p{color:#fff;}


/* Faces */
nav.faces {background:rgba(34, 34, 34, 0.7);}
nav.faces ul li,
nav.faces ul li a:link,
nav.faces ul li a:visited {color: #999;}
nav.faces ul li a:hover {color: #fff;}
#faces {background:#000;border-top:solid 1px #666;color:#999;}
#faces img{margin-top:70px;}
.faces .mini-navigation ul li {color: #999;}
.faces .mini-navigation ul li a{color: #fff;}

/* Alley */
header.alley{box-shadow:none;color:#666;}
nav.alley{background:rgba(0, 0, 0, 0.5);border:solid 1px #fff;box-shadow:none;}
nav.alley ul li,
nav.alley ul li a:link,
nav.alley ul li a:visited {color:#666;}
nav.alley ul li a:hover {color:#fff;}
#alley {background:#000;border:solid 1px #fff;box-shadow:none;color:#999;}
#alley img{float:left;width:50%;}
#alley img:nth-child(1),#alley img:nth-child(2){margin-top:80px;}
.alley .mini-navigation ul li {color:#999;}
.alley .mini-navigation ul li a{color:#fff;}

/* Dream */
header.dream{box-shadow:none;color:#73c2ff;}
nav.dream{background:rgba(0, 144, 255, 0.6);border-top:1px solid #73c2ff;}
nav.dream ul li,
nav.dream ul li a:link,
nav.dream ul li a:visited{color: #73c2ff;}
nav.dream ul li a:hover{color: #fff;}
#dream {border-top:solid 1px #3a72a1;}
.dream .mini-navigation ul li{color: #156eec;}
.dream .mini-navigation ul li a{color: #73c2ff;}

/* Octo */
header.octo{box-shadow:none;color:#ff2800;}
nav.octo {background:rgba(0, 255, 20, 0.4);border-top:1px solid #6f0;}
nav.octo ul li,
nav.octo ul li a:link,
nav.octo ul li a:visited{color: #c7efab;}
nav.octo ul li a:hover{color: #fff;}
#octo {border-top:solid 1px #e84527;}
.octo .mini-navigation ul li {color: #e84527;}
.octo .mini-navigation ul li a {color: #ff9e8c;}

/* Seafloor */
header.seafloor{box-shadow:none;color:#156eec;}
nav.seafloor{background:rgba(183, 157, 242, 0.7);border-top:1px solid #7b5688;}
nav.seafloor ul li,
nav.seafloor ul li a:link,
nav.seafloor ul li a:visited {color:#fbe7ff;}
nav.seafloor ul li a:hover {color:#fff;}
#seafloor {border-top:solid 1px #3a72a1;}
.seafloor .mini-navigation ul li{color:#fff;}
.seafloor .mini-navigation ul li a{color:#73c2ff;}

/* Idea */
header.idea{box-shadow:none;color:#da9f9d;}
nav.idea {background:rgba(255, 129, 125, 0.1);border-top:1px solid #333;}
nav.idea ul li,
nav.idea ul li a:link,
nav.idea ul li a:visited,
nav.idea ul li a:hover {color:#fff;}
.idea .mini-navigation ul li a{color:#ff817d;}


/***** Footer *****/
footer {color:#f1f1f1;font-size:.8em;height:20px;line-height:2em;margin:0 auto 50px auto;max-width:978px;text-align:center;}
footer a,footer a:link,footer a:visited{color:#999;}
footer a:hover{color:#fff;}

/***** SLICK Overrides *****/
.slick-prev, .slick-next {top:200px;z-index:100;}
.slick-prev:before, .slick-next:before{font-size:40px;}
.slick-dots li button:before{color:white;font-size:12px;}
.slick-dots li.slick-active button:before{color:white;}

.slick-prev{left:-10%;}
.slick-next{right:-8%;}
.slick-dots{top:5px;z-index:100;}

/***** Modal and Carousel ****/
#sears .show-carousel{display:block;margin:20px;}
.show-carousel span{display:block;margin-left:20px;}
.screen{display:none;height: 3000px;width: 100%;background: #000;position: absolute;top: -10px;z-index:98;}
.modal-calumet-emails,
.modal-calumet-banners,
.modal-sears-content{background:#fff;display:none;max-width:978px;max-height:2000px;overflow:scroll;position:absolute;top:3em;margin:0 auto;float:left;z-index:99;}
.close-button{position:fixed;display:block;z-index:100;opacity:80%;}
.close-button:hover{text-decoration:none;}
.close-x{display:block;height: 40px;width: 40px;font-size: 34px;position: relative;left:-105px;border: 1px solid #999;border-radius: 5px;text-align: center;line-height: 40px;margin: 5px;color: #999;font-weight: 100;cursor: pointer;}
.close-text{font-size:12px;color:#999;left:-105px;position:relative;}
.carousel-contain {margin: 20px auto 0 auto;width:800px;}
.carousel-contain img{margin: 20px auto 40px auto;object-fit: cover;}
.close-button:hover{opacity:100%;}
.modal-calumet-banners .carousel-contain{margin-top:60px;}

/***** Media Queries *****/
@media all and (min-width: 320px) and (max-width: 767px) {

header{height: 70px;box-shadow:none;}
h1,h2,h3{float:none;padding:20px 10px 10px 10px;}
h1.top-level{margin-bottom: 10px;text-align: left;width: 100%;padding: 0 0 10px 0;top: 10px;}
p{padding:10px;}
input,textarea{margin:10px;width:85%;}
.contact button{display:block;margin:10px 20px;width:100px;}
section img{border-radius:0!important;}
.contact h1.top-level,
.start h1.top-level{color:#fff;}
.contact .mini-navigation ul li a,
.start .mini-navigation ul li a,
.sears .mini-navigation ul li a,
.calumet .mini-navigation ul li a{color:#999;}
nav.home,nav.faces,nav.alley,nav.dream,nav.octo,nav.seafloor,nav.idea{height:32px;font-size:.75em;top:40px;}
hr{margin:20px 10px;}
.mini-navigation ul{top:10px;}
.mini-navigation{margin:0 10px;}
.mini-navigation ul li a{margin:0 2px;}
#contact > h3:nth-child(2){padding-top:10px;}
#contact h3{margin:0 10px;}
#calumet{padding-bottom:5%;padding-top:30px;}
#calumet img,
#calumet h2,
#calumet h3,
#calumet p,
#sears img,
#sears h2,
#sears h3,
#sears p{float:none!important;width:92%!important;margin:10px!important;padding:0!important;}
.thanks,.error{margin-top:20%;}
footer{padding-bottom:20px;}
.show-carousel span{display:block;margin-left:10px;}
.modal-calumet-emails,
.modal-calumet-banners,
.modal-sears-content{max-width: 420px;}
.carousel-contain {width: 400px;}
.slick-prev, .slick-next{top:20px;}
.slick-prev:before, .slick-next:before{font-size:20px;}
.slick-prev {left: 8%;}
.slick-next {right: 10%;}
.slick-dots {width: 200px;margin: 0 0 0 100px;}
}
@media all and (min-width: 767px) and (max-width: 800px) {
	footer{padding-bottom:20px;width:80%;}

}
